 
@model  AmCom.Domain.Entities.Aluno
 
<br />
<h2>Detalhes do Aluno</h2>
<hr />
  
<div class="card card-user">
    <div class="card-header">
        <h5 class="card-title">Cadastro de Aluno</h5>
    </div>
    <div class="card-body">
        <form asp-action="Edit">
            <div class="row">
                <div class="col-md-2 pr-1">
                    <div class="form-group">
                        <label>Data Cadastro</label>
                        <input asp-for="DataCadastro" class="form-control" />                      
                    </div>
                </div>
                <div class="col-md-5 px-1">
                    <div class="form-group">
                        <label>Nome</label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 pl-1">
                    <div class="form-group">
                        <label for="exampleInputEmail1">E-mail</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 pr-1">
                    <div class="form-group">
                        <label>Cpf</label>
                        <input asp-for="Cpf" class="form-control" />
                        <span asp-validation-for="Cpf" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3 px-1">
                    <div class="form-group">
                        <label>Aniversário</label>
                        <input asp-for="DtNascimento" class="form-control"  />
                        <span asp-validation-for="Cpf" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-1 pl-1">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Idade</label>
                        <input type="email" class="form-control" placeholder="" disabled="disabled">
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <button type="submit" class="btn btn-primary btn-round">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Retornar para Lista de Alunos</a>
</div>

 