@model IEnumerable<AmCom.Domain.Entities.Aluno>

<br />
<p>
    <a asp-action="Create">Novo Aluno</a>
</p>

<div class="card">
    <div class="card-header">
        <h4 class="card-title"> Alunos Cadastrados</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead class=" text-primary">
                <th>
                    Nome
                </th>
                <th>
                    E-mail
                </th>
                <th>
                    Cpf
                </th>
               
                <th colspan="2" class="text-center">
                    Ações
                </th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cpf)
                            </td>                          

                            <td>
                                @Html.ActionLink("Adicionar Disciplina", "AdicionarDisciplinas", new { id = item.Id }) 
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

